

.error-message{
  font-size:12px;
  color:#f44336;
  display:block;
  margin-bottom:0px;
}


.radioButton {
  margin-left: 3%;
}

.label{
  display:block;
}


input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.ui-calendar {

  display: block !important ;
}

.showCalenderInline
{
display: inline !important;
}






